<ion-tab-bar slot="bottom" color="dark">

  <ion-tab-button (click)="redirecion('home')">
    <ion-icon name="car-outline"></ion-icon>
    <ion-label>Autos</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>Agrega</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="heart-outline"></ion-icon>
    <ion-label>Favoritos</ion-label>
    <!-- <ion-badge color="danger" *ngIf="notificacionesFavoritos > 0">
        {{ notificacionesFavoritos }}
      </ion-badge> -->
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-label>Mensajes</ion-label>
  </ion-tab-button>

</ion-tab-bar>
