<app-navbar></app-navbar>
<!-- <app-bienvenida *ngIf="showSplash"></app-bienvenida> -->
<ion-content>
  <ion-grid>

    <!-- Filtros -->
    <ion-row class="filtros-row ion-padding-vertical">
      <ion-col size="auto" *ngFor="let filtro of filtros">
        <ion-button class="filtro-btn" fill="clear" size="small" (click)="mostrarOpciones($event, filtro.tipo)">
          {{ filtro.label }}
          <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-col size="6" size-md="4" size-lg="3" *ngFor="let auto of autos">
      <ion-card class="auto-card">
        <div class="imagen-container">  
          <img [src]="auto.imagen" [alt]="auto.modelo" loading="lazy" />
        </div>
        <ion-card-content class="contenido-auto">
          <p class="marca-modelo">
            <strong>{{ auto.marca }}</strong> • {{ auto.modelo }}
          </p>
          <h2 class="precio">
            {{ auto.precio | currency: 'MXN':'symbol':'1.0-0' }}
          </h2>
          <p class="mensualidad">
            Desde {{ calcularMensualidad(auto.precio) | currency: 'MXN':'symbol':'1.0-0' }} <span>/mes*</span>
          </p>
        </ion-card-content>
      </ion-card>

    </ion-col>



  </ion-grid>
</ion-content>
