<app-navbar></app-navbar>
<!-- <app-bienvenida *ngIf="showSplash"></app-bienvenida> -->
<ion-content>
  <ion-grid>

    <!-- Filtros -->
    <ion-row class="filtros-row ion-padding-vertical">
      <ion-col size="auto" *ngFor="let filtro of filtros">
        <ion-button class="filtro-btn" fill="clear" size="small" (click)="mostrarOpciones($event, filtro.tipo)">
          {{ filtro.label }}
          <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="catalogo-autos">
      <div class="auto-card" *ngFor="let auto of autosPaginados">
        <div class="imagen-container">
          <img [src]="auto.imagen" [alt]="auto.modelo" loading="lazy" />
        </div>
        <div class="contenido-auto">
          <p class="marca-modelo">
            <strong>{{ auto.marca }}</strong> • {{ auto.modelo }}
          </p>
          <h2 class="precio">
            {{ auto.precio | currency: 'MXN':'symbol':'1.0-0' }}
          </h2>
          <p class="tipo">
            Nuevo
          </p>
        </div>
      </div>
    </div>


    <div class="paginacion" *ngIf="totalPaginas > 1">
      <button
        class="pagina"
        [class.activa]="paginaActual === i"
        *ngFor="let i of paginas"
        (click)="cambiarPagina(i)">
        {{ i }}
      </button>
    </div>
    <br><br><br><br>
  </ion-grid>
</ion-content>
