<ion-menu side="end" menuId="menuLateral" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngIf="isLoggedIn" (click)="abrirModalPerfil()" button>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Perfil
      </ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="abrirModalNewCar()" button>
        <ion-icon name="add-outline"></ion-icon>
        Agregar auto
      </ion-item>
      <ion-item *ngIf="isLoggedIn" button>
        <ion-icon name="car-sport-outline"></ion-icon>
        Mis autos
      </ion-item>
      <ion-item *ngIf="isLoggedIn" button>
        <ion-icon name="cog-outline"></ion-icon>
        Configuración
      </ion-item>
      <ion-item *ngIf="!isLoggedIn" (click)="redirecion('inicio')" button>
        <ion-icon name="log-in-outline"></ion-icon>
        Iniciar sesión
      </ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="logout()" button>
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
