<div class="overlay">
  <img src="assets/icon/goautos.webp" loading="lazy" alt="Go Autos" class="logo" />
  <h1 class="titulo">Login</h1>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <ion-item lines="none" class="input-wrapper">
      <ion-input 
        formControlName="email" 
        type="email" 
        placeholder="Email"
        fill="outline"
      ></ion-input>
    </ion-item>
    <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">El email es obligatorio.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">Email inválido.</small>
    </div>

    <ion-item lines="none" class="input-wrapper">
      <ion-input 
        [type]="showPassword ? 'text' : 'password'" 
        formControlName="password" 
        placeholder="Contraseña"
        fill="outline"
      ></ion-input>
      <ion-icon 
        [name]="showPassword ? 'eye-off' : 'eye'" 
        slot="end" 
        (click)="showPassword = !showPassword" 
        class="eye-icon">
      </ion-icon>
    </ion-item>
    <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small>La contraseña es obligatoria.</small>
    </div>

    <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Iniciar sesión</button>

    <button type="button" class="btn-google">
      <img src="assets/img/google.png" loading="lazy" alt="Google Login" />
    </button>
  </form>
</div>
